body{
   font-family: "Poppins";
   font-weight: 700;
}
.header__section{
   background-image: url("../img/img01.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 330px;
   padding-bottom: 100px;
   max-width: 100%;
   min-height: 600px;
   border-radius: 0px 5px 5px 0px;
   background-color: #212529;
   background-position: 50%;
}
[class*="__container"]{
   margin: 0 auto;
}
.header__container{
   max-width: 1270px;
}
.header__block > * {
   margin-bottom: 15px;
}
.block-header__date, 
.block-header__text {
   color: #E5E5E5;
   font-weight: 300;
}
.block-header__title {
   font-size: 25px;
   line-height: 1.6;
   color: #F8F9FA;
   min-width: 605px;
}
/*====================================*/
.main__section {
   font-family: "Inter";
   font-weight: 700;
   color: #637381;
   background-image: linear-gradient(117deg, rgba(244, 247, 255, 1) 69%, rgba(228, 234, 251, 1) 69%, rgba(228, 234, 251, 1) 75%, rgba(213, 222, 247, 1) 75%, rgba(255, 255, 255, 1) 100%);
   background-size: cover;
   background-position: 50%;
}
.main__container {
   max-width: 1170px;
   padding: 145px 15px ;
}
.block-main {
   display: inline-block;
   max-width: 1040px;
   margin-right: 160px;
}
.block-main__price {
   font-weight: 600;
   font-size: 18px;
   line-height: 24px;
   color:#3056D3;
   margin-bottom: 13px;
}
.block-main__title {
   font-weight: 700;
   max-width: 470px;
   font-size: 36px;
   line-height: 45px;
   color: #212B36;
   margin-bottom: 15px;
}
.block-main__text {
   font-weight: 500;
   line-height: 24px;
   margin-bottom: 35px;
   max-width: 570px;
}
.block-main__button {
   font-weight: 600;
   display: inline-block;
   line-height: 24px;
   color: #FFFFFF;
   background: #3056D3;
   border-radius: 30px;
   align-items: center;
   padding: 10px 30px;
   max-width: 140px;
}
.img{
   display: inline-block;
   max-width: 100%;
   font-size: 14px;
}
/*========================================*/
.main__section-list{
   font-family: "Inter";
   font-weight: 700;
   line-height: 16px;
   background: rgb(251,129,63);
   background: linear-gradient(47deg, rgba(251,129,63,0.46551120448179273) 25%, rgba(187,109,122,0.48792016806722693) 33%, rgba(101,82,200,0.633578431372549) 43%, rgba(154,65,129,0.8156512605042017) 54%, rgba(200,50,69,0.7484243697478992) 66%, rgba(143,68,119,0.44870448179271705) 74%, rgba(155,81,120,0.31425070028011204) 85%, rgba(50,98,200,0.2638305322128851) 91%, rgba(50,98,200,0.1966036414565826) 95%);
}
.list-section__container{
   max-width: 1170px;
   padding: 0 15px;
}
.list-section__block{
   padding-top: 40px ;
   padding-bottom: 40px;
}
.block-list__title{
   font-weight: 400;
   font-size: 26px;
   line-height: 28px;
   margin-bottom: 45px;
   color: #212B36;
}
.block-list__content > ul {
   color: #637381;
   margin-bottom: 62px;
}

.block-list__first > li {
   background: url("../img/icons/ellipse.png") left / 8px no-repeat;
   margin-bottom: 18px;
   padding-left: 18px;
   min-height: 8px;
   line-height: 15px;
   padding-top: 5px;
}
.block-list__second > li {
   background: url("../img/icons/checkmark-circle1.png") left / 20px no-repeat;
   margin-bottom: 20px;
   padding-left: 30px;
   min-height: 20px;
   padding-top: 5px;
}
.block-list__third > li {
   background: url("../img/icons/checkmark-circle2.png") left / 20px no-repeat;
   margin-bottom: 20px;
   padding-left: 30px;
   min-height: 20px;
   padding-top: 5px;
}
.block-list__fourth > li {
   background: url("../img/icons/group-red.png") left / 20px no-repeat;
   margin-bottom: 20px;
   padding-left: 30px;
   min-height: 20px;
   padding-top: 5px;
}
.block-list__fifth> li {
   background: url("../img/icons/arrow-right.png") left / 20px no-repeat;
   margin-bottom: 20px;
   padding-left: 30px;
   min-height: 20px;
   padding-top: 5px;
}
.block-list__sixth > li {
   background: url("../img/icons/star.png") left / 20px no-repeat;
   margin-bottom: 20px;
   padding-left: 30px;
   min-height: 20px;
   padding-top: 5px;
}
/*===================================*/
.background-section__first {
   height: 200px;
	background-color: #f4dfd7;
	margin-bottom: 20px;
}
.background-section__second {
   margin-bottom: 30px;
	height: 300px;
	background: url("../img/unsplash.jpg") center no-repeat fixed;
}
.background-section__third {
   height: 300px;
	margin-bottom: 30px;
   background: #a40339 url("../img/image.jpg") center / contain no-repeat scroll;
	/*background: url("../img/image.jpg") 0 0  / contain no-repeat, linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.14889705882352944) 35%, rgba(0,212,255,1) 100%);*/
}
.autor {
   text-align: center;
   color: #637381;
}
